
<section class="show-container">
  <%= render :partial => 'image_and_user', locals: {user: @user} %>
  <div class="bio">
    <h2 class="bio-heading">Bio</h2>
    <p class="bio-text"><%= @user.bio %></p>
  </div>
  <ul class="posts-container">
    <% @posts.reverse.each do |post| %>
      <li class="post">
        <h2 class="post-title"><%= post.title %></h2>
        <p class="post-text"><%= post.text %></p>
        <p class="comments-likes">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
      </li>
    <% end %>
  </ul>
  <button class="see-all-btn">
    <%= link_to "See All Posts", user_posts_path(@user) %>
  </button>
</section>


