<section class="posts-home">
  <%= render :partial => 'partials/image_and_user', locals: { user: @user } %>
  <ul class="user-posts">
    <% @posts.reverse.each do |post| %>
      <%= link_to user_post_path(@user.id, post.id), id: "user_post#{post.id}", :class => 'link' do %>
        <%= render :partial => 'partials/post', locals: { post: post } %>
        <% if post.comments.length > 0 %>
          <div class="comments-wrapper">
              <% post.recent_comments.each do |comment| %>
               <li class="comment-li">
              <strong><%= comment.author.name %>: </strong><%= comment.text %>
               </li>
           <% end %>
          </div>
        <% end%>
      <% end %>
    <% end %>
    
  </ul>
  
  <button class="pagination-btn">
    <%= link_to "Create post", new_user_post_path %>
  </button>
</section>
