
<section class="posts-details">
  <div class="top">
    <div class="name-comments-likes">
      <p class="name"><strong><%= @post.title %></strong> by <strong><%= @post.author.name %></strong></p>
      <p class="comments-likes">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
    </div>
    <p class="post-text"><%= @post.text %></p>
  </div>
  <% if @post.comments.length > 0 %>
  <div class="comment-list">
    <%= render :partial => 'partials/comments', locals: { comments: @post.comments } %>
  </div>
  <% end %>
  <%= render "comments/form" %>
  <%= render "likes/form" %>
</section>
